@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    This is using the _configuration.GetValue<string>("SendGridKey") =>  @ViewBag.SendGridKey
</div>

<div class="text-center" style="margin-top:20px;">

</div>

<div class="text-center">
    This is using the _configuration.GetValue with First level of Nesting =>  @ViewBag.Name
    <br />
    This is using the _configuration.GetValue with First level of Nesting =>  @ViewBag.Email
    <br />
    This is using the _configuration.GetValue with First level of Nesting =>  @ViewBag.Phone
    <br />
</div>

<div class="text-center" style="margin-top:20px;">

</div>

<div class="text-center">
    This is using the _configuration.GetValue with First level of Nesting =>  @ViewBag.NestedData
    <br />
   
</div>
